.formularz {
    max-width: 30%;
    margin: auto; 
}

.tabela
{
    max-width: 80%;
    margin: auto; 
}

.formularzEdycji {
    max-width: 30%;
    margin: auto; 
    visibility: hidden;
}

#suma {
    margin-left: 7.75%;
    font-weight: bold;
}
